@import 'locomotive-scroll/dist/locomotive-scroll.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    color: black;
}

.home {
    /* width: 100vw; */
    min-height: 120vh;
    /* background-image: url("../../Assets/background.jpg");  Intentionally left commented*/
    background-color: beige;
    background-position: center;
    background-size: cover;
    /* background-attachment: scroll; */
    background-repeat: no-repeat;

    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

    padding: 0 100px;
}

.home>nav {
    margin: 3rem 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10rem; */
    /* background-color: gray; */
}

.home>nav>img {
    width: 120px;
    cursor: pointer;
}

.home>nav>ul>li {
    display: inline;
    font-size: large;
    color: rgb(52, 112, 240);

    margin: 0 1rem;

    cursor: pointer;
    transition: color 200ms ease;
}

.home>nav>ul>li>a {
    text-decoration: none;
    font-size: large;
    color: rgb(52, 112, 240);
    cursor: pointer;
    transition: color 200ms ease;
}

.home>nav>ul>li>a:hover {
    color: rgb(9, 9, 145);
}

.home>main>.description>h1 {
    margin-top: 10%;
    margin-bottom: 2rem;
    font-size: 65px;
    color: black;
}

.home>main>.description>h3 {
    margin-top: 0.5rem;
    line-height: 1.8rem;
    color: black;
}

.home>main>.description {
    margin: 0;
}

.home>main>.socials {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.home>main>.socials>a>img {
    margin: 0 1rem;
    width: 65px;
}

.home>footer {
    background-color: green;
    width: 100%;
    padding: 1rem;
}

.home>footer>.socials {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
}

.home>footer>.socials>a>img {
    margin: 1rem 1rem;
    width: 30px;
}

h4 {
    color: rgb(161, 161, 161);
}

.projects {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects>.projectContainer {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 2rem;
}

.projects>.projectContainer>.project {
    width: 30%;
    height: 25rem;
    padding: 1rem;
    background-color: rgb(30, 30, 30);
}

.projects>.projectContainer>.project>img {
    width: 100%;
}

.merch {
    /* height: 100vh; */
    min-height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.merch>.projectContainer {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 2rem;
}

.merch>.projectContainer>.project {
    width: 30%;
    height: 25rem;
    padding: 1rem;
    background-color: rgb(30, 30, 30);
}

.merch>.projectContainer>.project>button {
    padding: 3px 15px;
    position: absolute;
    bottom: 1rem;
    margin-top: 3rem;
    border-radius: 15px;
    font-size: large;
    cursor: pointer;
    border: none;
    transition: all 500ms ease-in-out;
    /* transition: color 500ms ease-in-out; */
}

.merch>.projectContainer>.project>button:hover {
    background-color: black;
    color: white;
}


.merch>.projectContainer>.project>img {
    width: 100%;
}

.heading {
    margin-top: 3rem;
    font-size: 65px;
    margin-bottom: 2rem;
}

.aboutus {
    /* height: 250vh; */
    /* min-height: 250vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.aboutus>.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 90%;
}

.aboutus>.people>.person {
    padding: 1rem 1rem;
    max-width: 15rem;
    height: 23rem;
    background-color: rgb(30, 30, 30);
    text-align: center;
    color: white;
}

.aboutus>.people>.person>h1,
h2,
h3 {
    color: white;
}

.aboutus>.people>.person>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members>.people {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.members>.people>.person {
    background-color: rgb(30, 30, 30);
    padding: 1rem;
    text-align: center;
    width: 15rem;
}

.members>.people>.person>img {

    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.getInvolved {
    min-height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getInvolved>.container {
    background-color: rgb(229, 239, 175);
    position: relative;
    width: 80%;
    /* width: 500px; */
    height: 500px;
    /* height: 70%; */
    border-radius: 2rem;
    padding: 2rem;
}

.container>button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(38, 38, 38);
    border: none;
    font-weight: bold;
    font-size: large;
    transition: all 200ms ease;
    cursor: pointer;
}
.container > img {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}

.container>button:hover {
    background-color: rgb(160, 160, 160);
    color: black;

}